[Unit]
Description="debot-pair-btceth"
After=network.target

[Service]
WorkingDirectory=/opt/debot
ExecStart=/bin/bash /opt/debot/scripts/debot-pair-btceth.sh
Restart=on-failure
RestartSec=30
StartLimitBurst=5
StandardOutput=journal
StandardError=journal

[Install]
